name: Test

on:
  push:
    branches: [ "development" ]
  pull_request:
    branches: [ "development" ]

permissions:
  contents: read
  packages: write
  actions: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v5
      - name: Build Image
        run: docker buildx build -t bolebop022/docker-react --cache-to type=gha,scope=docker-react,mode=max -f Dockerfile.dev .

  test:
    runs-on: ubuntu-latest
    needs: build
    environment: development
    steps:
      - uses: actions/checkout@v5
      - name: Rebuild using cache
        run: docker buildx build -t bolebop022/docker-react --cache-from type=gha,scope=docker-react --debug --load --progress=plain -f Dockerfile.dev .
      - name: Test
        run: docker run --rm -e CI=true bolebop022/docker-react npm run test
