name: Test

on:
  push:
    branches: [ "development" ]
  pull_request:
    branches: [ "development" ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v5
      - name: Build Image
        run: docker buildx build --push -t bolebop022/docker-react --cache-to type=gha,scope=docker-react -f Dockerfile.dev .

  test:
    runs-on: ubuntu-latest
    needs: build
    environment: development
    steps:
      - name: Build and test image
        run: docker run -e CI=true docker.io/bolebop022/docker-react npm run test
